.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1.5fr 1.5fr;
  background-color: var(--color-black-5);
  border-radius: 25px;
  border: 1px solid var(--color-black-4);
}

.sectionTitle {
  font-family: var(--font-inter);
  font-size: 18px;
  font-weight: 600;
  color: var(--color-white);
  margin-bottom: 20px;
}