.container {
  display: flex;
  gap: 16px;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.value {
  font-weight: 700;
  font-size: 15px;
  font-family: var(--font-inter);
}

.valuePositive {
  color: var(--color-green-4);
}

.valueNegative {
  color: var(--color-pink-1);
}

.label {
  font-weight: 400;
  font-size: 12px;
  font-family: var(--font-inter);
  color: var(--color-white-2);
}

