.container {
  padding: 25px;
  border-right: 1px solid var(--color-black-4);
}

.sectionTitle {
  font-size: 20px;
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-white-2);
}

.performanceSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.performanceContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.performanceMetrics {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.metricItem {
  display: flex;
  justify-content: space-between;
}

.metricInfo, .metricValue {
  font-size: 17px;
  font-weight: 400;
  font-family: var(--font-inter);
  color: var(--color-white-2);
}

.metricInfoTransactions {
  display: flex;
  align-items: center;
  gap: 5px;
  
  .metricInfoTransactionsCount { 
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.metricValue.positive {
  color: var(--color-green-3);
}

.metricValue.negative {
  color: var(--color-pink);
}

.performanceBreakdown {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.breakdownItem {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.breakdownHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.colorCircle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.breakdownHeaderContent {
  display: flex;
  align-items: center;
  gap: 10px;
}

.breakdownRange {
  font-size: 17px;
  font-weight: 400;
  font-family: var(--font-inter);
  color: var(--color-white-2);
}

.breakdownCount {
  font-size: 17px;
  font-family: var(--font-inter);
  color: var(--color-white-2);
}

.breakdownBar {
  display: flex;
  gap: 3px;
  width: 100%;
  height: 5px;
  background-color: transparent;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 12px;
  background: var(--color-black-4);
}

.breakdownBarSegment {
  height: 100%;
  flex-shrink: 0;
  border-radius: 5px;
  transition: width 0.3s ease;
}